.class-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh; /* height */
  padding-top: 10px; /* top padding */
  margin-top: auto; /* Push to the top */
}

.header-container {
  position: absolute;
  background-color: #aed5a6; /* Green background */
  padding: 20px; /* Green box width */
  width: 50%;
  box-sizing: border-box; /* Include padding in width calculation */
  text-align: center; /* Center align the text horizontally */
  margin-top: -70px;
  border-radius: 15px;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 100%);
}

.header {
  padding: 5px 20px;
  background-color: cornflowerblue;
}

.brand {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.heading {
  color: #ffffff;
  font-size: 32px;
}

select {
  padding: 8px 12px; /* Add padding */
  border: 1px solid #ccc; /* Add border */
  border-radius: 4px; /* Add border-radius */
  background-color: #fff;
  font-size: 16px;
  color: #333; /* Set text color */
}

/* Apply styles when the dropdown is hovered over */
select:hover {
  border-color: #999; /* Change border color */
}

/* Apply styles when the dropdown is focused */
select:focus {
  outline: none; /* Remove default outline */
  border-color: #555; /* Change border color */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); /* Add box shadow */
}

.dropdown-container {
  position: relative; /* Change to relative positioning */
  display: inline-block;
  cursor: pointer;
  margin: 20px auto; /* Center the dropdown container */
  width: fit-content; /* Set width to fit the content */
  top: 600px;
  left: 50%; /* Move container to the middle */
  transform: translateX(-50%); /* Center container */
}

.dropdown-title {
  font-size: 20px; /* Adjust font size as needed */
  color: #666; /* Adjust color as needed */
  margin-bottom: 5px; /* Adjust margin bottom as needed */
  background-color: #f1f1f1;
  padding: 15px;
  width: 700px;
  display: flex;
  justify-content: space-between; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
}

.dropdown-title::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #666; /* Arrow color */
}

.dropdown {
  display: none;
  position: absolute;
  left: 50%; /* Position the left edge of the dropdown at the center */
  transform: translateX(
    -50%
  ); /* Translate the dropdown back by half of its width */
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border: 1px solid #ddd;
  z-index: 1;
  width: 700px;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 5px; /* Adjust the padding to add space */
}

.checkbox {
  margin-right: 8px; /* Adjust the margin to add space */
}

.dropdown-container:hover .dropdown {
  display: block;
}

.selected-classes-title {
  background-color: cornflowerblue;
  padding: 10px; /* Add padding */
  border-radius: 50px; /* Add border radius */
  color: white;
  width: 500px;
}

.selected-classes-title-container {
  position: absolute;
  text-align: center; /* Center the title */
  margin-top: 1%; /* Adjust margin as needed */
  top: 35%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.selected-classes-container {
  position: absolute;
  background-color: cornflowerblue;
  border-radius: 5px; /* Add border radius */
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap to the next line */
  justify-content: center;
  width: 700px auto;
}

.selected-classes-container ul {
  padding: 40px;
  display: flex;
}

.selected-classes-container ul li {
  color: #666; /* Text color */
  background-color: #ddd;
  border: 1px solid #ccc; /* Border color */
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px; /* Padding */
  margin: 10px; /* Margin */
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1); /* Shadow */
}

.submit-button-container {
  position: absolute;
  left: 80%;
  display: inline-block;
  top: 695px;
}

.submit-button {
  background-color: #aed5a6;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #3d8556; /* Darker shade for hover effect */
}

.class-search-background {
  background: linear-gradient(
    to bottom right,
    #f2e6ff,
    #cbf5da
  ); /* Gradient background */
}
